<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <%= form_tag '/shangri_la/login', method: :post, class: 'form-group', data: { turbo: false } do %>
            <div class="mb-3">
              <%= label_tag :email, 'メールアドレス', class: 'form-label' %>
              <%= text_field_tag :email, nil, class: 'form-control' %>
            </div>
            <div class="mb-3">
              <%= label_tag :pass, 'パスワード', class: 'form-label' %>
              <%= password_field_tag :pass, nil, class: 'form-control' %>
            </div>
            <%= submit_tag 'ログイン', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="text-center mt-3"><%= link_to '戻る', root_path, class: 'btn btn-secondary' %></p>
<p class="text-center"><%= link_to 'サインアップはこちら', new_user_path, class: 'btn btn-link' %></p>
